@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "css/additional-styles/utility-patterns.css";
@import "css/additional-styles/theme.css";

@import "tailwindcss/utilities";

:root {
  --black: #0a0a0a;
  --white: #eaeaea;
  --pink: #f02c6a;
  --green: #12f1c4;
  --purple: #5224dc;
}

body {
  background-color: var(--pink);
  color: var(--white);
}

@media screen and (max-width: 767px) {
  .hero-anim-wrap {
    margin-top: -14vw;
    margin-bottom: -14vw;
  }
}

@media screen and (max-width: 991px) {
  .hero-anim-wrap {
    margin-top: -14rem;
    margin-bottom: -4.9rem;
  }
}

.hero-anim-wrap {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -20vw;
  margin-bottom: -7vw;
  display: flex;
}

/* Autofill styles for webkit browsers */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--black) inset !important;
  -webkit-text-fill-color: var(--white) !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Autofill styles for non-webkit browsers */
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  box-shadow: 0 0 0 30px var(--black) inset !important;
  -webkit-text-fill-color: var(--white) !important;
  transition: background-color 5000s ease-in-out 0s;
}
